
.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.add-btn {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
}

